<div style="text-align:center">
  <h1>{{title}}</h1>
  <h3>{{currentFocus}}</h3>
</div>
<h2>On Tap:</h2>
  <h6>{{month}}/{{day}}/{{year}}</h6>
  <br>

  <ol>
    <li *ngFor="let currentKeg of kegs">
      <ul>
        <li>{{currentKeg.name}}
          <button (click)="editKeg(currentKeg)">Edit</button>
          <button (click)="pourBeer(currentKeg)">Pour</button>
          <button (click)="replaceKeg(currentKeg)">Replace Keg</button>
        </li>
          <ul>
            <li>{{currentKeg.brand}}</li>
            <li>{{currentKeg.type}}</li>
            <li [class]="priceIndex(currentKeg)">${{currentKeg.price}}.00 pt.</li>
            <li>{{currentKeg.alcoholContent}}</li>
            <li [class]="kegLevelWarning(currentKeg)">{{currentKeg.pints}} pints left</li>
          </ul>
      </ul>
      <br>
    </li>
  </ol>

  <div *ngIf="selectedKeg">
    <label>Edit Keg:</label>
      <br>
      <input [(ngModel)]="selectedKeg.name">
      <br>
      <input [(ngModel)]="selectedKeg.brand">
      <br>
      <input [(ngModel)]="selectedKeg.type">
      <br>
      <input [(ngModel)]="selectedKeg.price">
      <br>
      <input [(ngModel)]="selectedKeg.alcoholContent">
      <input [(ngModel)]="selectedKeg.pints">
      <br>
    <button (click)="finishedEditing()">Done</button>
  </div>
